.parallaxStyle {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.parallax_pseudo,
.parallax_role {
  position: relative;
  color: #ffffff;
  font-size: 40px;
}
